<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlx.clinic.mymapper.MyNumAdminMapper">


    <resultMap id="findOrderByPhoneDateMap" type="MyArrange">
        <association property="patientOrder" javaType="PatientOrder">
            <id column="o_id" property="oId"/>
            <result column="p_id" property="pId"/>
            <result column="i_id" property="iId"/>
            <result column="o_date" property="oDate"/>
            <result column="o_go" property="oGo"/>
            <result column="t_id" property="tId"/>
        </association>
        <association property="doctor" javaType="Doctor">
            <id column="d_id" property="dId"/>
            <result column="d_name" property="dName"/>
            <result column="d_gender" property="dGender"/>
            <result column="d_phone" property="dPhone"/>
            <result column="d_work_name" property="dWorkName"/>
            <result column="d_img" property="dImg"/>
            <result column="r_id" property="rId"/>
        </association>
        <association property="patient" javaType="Patient">
            <id column="p_id" property="pId"/>
            <result column="p_name" property="pName"/>
            <result column="p_gender" property="pGender"/>
            <result column="p_phone" property="pPhone"/>
            <result column="p_email" property="pEmail"/>
            <result column="p_idcard" property="pIdcard"/>

        </association>
    </resultMap>


    <resultMap id="MedicineMap" type="Medicine">
        <id column="m_id" property="mId"></id>
    </resultMap>



    <select id="findOrderByPhoneDate" parameterType="MyArrangeMessage" resultMap="findOrderByPhoneDateMap">
        select * from
       clinic.patient_order join
        clinic.patient join
        clinic.item_out_treate join
        clinic.doctor
        on
        clinic.patient_order.p_id=clinic.patient.p_id
        and
        clinic.patient_order.i_id=clinic.item_out_treate.i_id
        and
        clinic.item_out_treate.d_id=clinic.doctor.d_id
        where
        clinic.patient.p_phone=#{pPhone}
        and
        clinic.item_out_treate.i_date=#{iDate}
        and
        clinic.doctor.r_id=#{rId}


    </select>

    <!--返回自增的主键-->
    <insert id="myInsert" parameterType="com.zlx.clinic.entity.Treat" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Wed Jun 26 08:33:50 CST 2019.
        -->
        insert into treat (p_id, d_id,
        t_result, t_type, t_bed, t_date,
        t_total_price, t_pay)
        values (#{pId,jdbcType=INTEGER}, #{dId,jdbcType=INTEGER},
        #{tResult,jdbcType=VARCHAR}, #{tType,jdbcType=TINYINT}, #{tBed,jdbcType=BIT}, #{tDate,jdbcType=DATE},
        #{tTotalPrice,jdbcType=INTEGER}, #{tPay,jdbcType=BIT})

        <selectKey keyProperty="tId" order="AFTER" resultType="java.lang.Integer">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>


    <!--药品按数量生序排列-->
    <select id="findMedicineByAsc" resultType="com.zlx.clinic.entity.Medicine">
        select
        m_id mId,
        m_name mName,
        m_count mCount,
        m_price mPrice
        from clinic.medicine order by m_count asc
    </select>


</mapper>