<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlx.clinic.mymapper.MyPatientFindMapper" >

    <resultMap id="findDoctorsByRIdMap" type="MyDoctorOut">
        <association property="itemOutTreate" javaType="ItemOutTreate">
            <id column="i_id" property="iId"></id>
            <result column="d_id" property="dId"/>
            <result column="d_count" property="dCount"/>
            <result column="i_date" property="iDate"/>
        </association>
        <association property="doctor" javaType="Doctor">
            <id column="d_id" property="dId"/>
            <result column="d_name" property="dName"/>
            <result column="d_gender" property="dGender"/>
        </association>

    </resultMap>



    <select id="findDoctorByRId" parameterType="int" resultMap="findDoctorsByRIdMap">
      select *
      from
      clinic.item_out_treate
      join
      clinic.doctor
      on
      item_out_treate.d_id=doctor.d_id
      where
      doctor.r_id=#{rId}
    </select>

    <select id="findCountByDidDate" parameterType="int" resultMap="findDoctorsByRIdMap">
      select *
      from
      clinic.item_out_treate
      join
      clinic.doctor
      on
      item_out_treate.d_id=doctor.d_id
      where
      item_out_treate.i_id=#{iId}
    </select>

    <select id="findOrderByPid" parameterType="int" resultMap="findDoctorsByRIdMap">
        select *
        from
        clinic.item_out_treate
        join
        clinic.doctor
        on
        item_out_treate.d_id=doctor.d_id
        where
        i_id in (select patient_order.i_id from patient_order where p_id=#{pId})
    </select>

</mapper>